{% for name, details in drivers | items %}
### {{ name }}

Plugin name: `{{name}}`

```{autodoc2-object} {{details.module}}.{{details.class_name}}
render_plugin = "myst"
no_index = true
```

{% endfor %}
